<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style-formulario.css" >
    <script src="../scripts/fetchFormData.js"></script>
    <title>Formulário</title>
</head>
<body>
    <main class="secao-principal">
        <div class="secao-principal_container">
            <header class="secao-principal_container-cabecalho">
                <section class="secao-principal_container-secao-menu">
                    <img class="secao-principal_container-cabecalho_img-menu" src="../images/menu-lines.png" alt="três linhas do menu">
                </section>
                <section class="secao-principal_container-secao-logo">
                    <img class="secao-principal_container-cabecalho_img-logo" src="../images/PTV.png" alt="logo PTV">
                    <h1>Insira os dados</h1>
                </section>
            </header>
            <section class="secao-principal_secao-form">
                <form class="secao-principal_secao-form_container" action="/paratodosverem/formulario" method="POST">

                    <div class="secao-principal_secao-form-conjunto">
                        <label for="categoria">Categoria:</label>
                        <select onchange="selecionar()" id="select" class="secao-principal_form-categoria" name="categoria" required>
                            <option value="alimento">Alimento</option>
                            <option value="remédio">Remédio</option>
                            <option value="evento">Evento</option>
                            <option value="cosmético">Cosmético</option>
                            <option value="outro">Outro</option>
                        </select>
                    </div>
                    
                    <div class="secao-principal_secao-form-conjunto">
                        <label for="nome">Nome:</label>
                        <input type="text" class="secao-principal_form-texto" name="nome" placeholder="Nome" required>
                    </div>
                    
            
                    <div class="secao-principal_secao-form-conjunto">
                        <label for="responsavel">Responsável:</label>
                        <input type="text" class="secao-principal_form-texto" name="responsavel" placeholder="Responsável" required>
                    </div>

                    <div class="secao-principal_secao-form-conjunto">
                        <label for="codigo">Código:</label>
                        <section class="secao-principal_secao-form_codigo">
                            <input readonly class="secao-principal_secao-fom_codigo-letra" type="text" name="letra" required>
                            <input id="codigo" type="text" class="secao-principal_form-texto codigo" name="codigo" placeholder="Código" required>
                        </section>
                    </div>
                    
                    <div class="secao-principal_secao-form-conjunto">
                        <label for="descricao">Descrição:</label>
                        <textarea class="secao-principal_form-texto" name="descricao" rows="8"></textarea>
                    </div>
                    
            
                    <input class="secao-principal_form-cadastro" type="submit" value="INSERIR DADOS">
                </form>
            </section>
        </div>
    </main>
</body>
</html>