<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style-homeDoLogin.css">
    <script src="../scripts/temasCadastrados.js"></script>
    <title>Página do Usuário</title>
</head>
<body onload="editarLink()">
    <nav class="nav-menu">
        <img class="nav-menu_logo" src="../images/PTV (copy).png" alt="PTV">
        <section class="nav-menu_secao-botoes">
            <a class="nav-menu_botao" href="./formulario" target="_self">CADASTRAR ARTIGO</a>
        </section>
    </nav>
    <main class="secao-principal">
        <% array.forEach((item) => { %>
            <section class="secao-principal_artigo">
                <p><%= item.codigo %></p>
                <p><%= item.nome %></p>
                <section class="secao-principal_icones">
                    <a class="secao-principal_link" href="./leitura" target="_self"><img class="secao-principal_img-ver" src="../images/eye-fill.svg" alt="visualizar artigo"></a>
                    <button onclick="remover(event)" class="secao-principal_botao"><img class="secao-principal_img-lixo" src="../images/trash3.svg"></button>
                </section>
            </section>
            <input type="hidden" class="id-tema" value=<%= item.id_tema %>>
        <% }) %>
    </main>
</body>
</html>