<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style-home.css">
    <title>Home</title>
</head>
<body>
    <main class="secao-principal">
        <div class="secao-principal_container">
            <img class="secao-principal_container-logo" src="../images/PTV.png" alt="logo PTV">
            <section class="secao-principal_container-botoes">
                <!--<input class="secao-principal_container-botoes_cadastro" type="button" value="CADASTRAR">-->
                <a class="secao-principal_container-botoes_cadastro" href="./paratodosverem/cadastro" target="_self">CADASTRAR</a>
                <!--<input class="secao-principal_container-botoes_login" type="button" value="ENTRAR">-->
                <a class="secao-principal_container-botoes_login" href="./paratodosverem/login" target="_self">ENTRAR</a>
            </section>
        </div>
    </main>
</body>
</html>
