<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style-leitura.css">
    <title>Leitura</title>
</head>
<body>
    <nav class="nav-menu">
        <img class="nav-menu_logo" src="../images/PTV (copy).png" alt="PTV">
        <section class="nav-menu_secao-botoes">
            <button class="nav-menu_botao link"><img class="nav-menu_botao-img" src="../images/link-45deg.svg" alt="link"></button>
            <button class="nav-menu_botao edicao"><img class="nav-menu_botao-img" src="../images/pencil-fill.svg" alt="editar"></button>
            <button class="nav-menu_botao audio"><img class="nav-menu_botao-img" src="../images/volume-up-fill.svg" alt="volume"></button>
        </section>
    </nav>
    <main class="secao-principal">
        <div class="secao-principal_container">
            <p>Assunto: <%= subject %></p>
            <p>Nome: <%= name %></p>
            <p>Responsável: <%= entity %> </p>
            <p>Descrição: <%= description %></p>
        </div>
    </main>
</body>
</html>